
        body {
          margin: 0;
          padding: 0;
        }

        #map {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
        }

        /* Marker-Style */

        .marker {
          background-image: url('mapbox-icon.png');
          background-size: cover;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          cursor: pointer;
        }

        /* Pop-up-style */

         .mapboxgl-popup {
          max-width: 90%;
            z-index: 10;
        }

        /* Überschrift "Spätifinder" */

        .button {
          display: inline-block;
          position: relative;
          float: none;
          width: auto;
          padding: 8px;
          border-radius: 3px;
          margin-left: 9px;
          margin-top: 9px;
          font-size: 16px;
          text-align: center;
          color: #ffffff;
          background: #000000;
          font-family: sans-serif;
          font-weight: bold;
      }
      

      @media screen and (min-width:100px){
         .button {
          display:inline-block;
          float: left;
          width: 150px;
          margin:0.2em auto;
          }
        } 

    
        
        
        
      
